<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<head>
  <meta charset="UTF-8">
</head>
  <div th:fragment="adminNavBarFragment" class="navbar bg-base-100">
    <div class="flex-1">
      <a th:href="@{/}" class="btn btn-ghost normal-case text-xl">BabyLion</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a th:href="@{/adms/index}">Account</a></li>
        <li><a th:href="@{/adms/posts}">Posts</a></li>
        <li><a>Categories</a></li>
      </ul>
    </div>
  </div>
</html>