<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/edit_layout}">
    <head>

        <meta name="_csrf_header" th:content="${_csrf.headerName}" >
        <meta name="_csrf" th:content="${_csrf.token}" >

        <title>BABY LION :: 포스트 작성</title>

    </head>
    <body>
        <div layout:fragment="content" class="w-full">
            <div class="write-contents flex flex-col">
                    <div class="post-write-header flex p-8">
                        <span class="text-5xl">
                            Post Write
                        </span>
                    </div>

                    <div class="post-write contents flex flex-col">

                        <div class="flex category-wrapper">
                            <select id="category-select" class="select select-primary w-full max-w-xs">
                                <option disabled selected value="">Category</option>
                                <th:block th:if="${categoryList.size() != 0}" th:each="c : ${categoryList}">
                                    <option th:value="${c.code}"> [[ ${c.name} ]] </option>
                                </th:block>
<!--                                <option>Game of Thrones</option>-->
<!--                                <option>Lost</option>-->
<!--                                <option>Breaking Bad</option>-->
<!--                                <option>Walking Dead</option>-->
                            </select>
                        </div>

                        <input id="post-title" name="title" type="text" placeholder="Title here" class="mt-4 input input-bordered input-info w-full" />
                        <div class="mt-8 h-full" id="editor"></div>
                    </div>

                    <div class="post-write-btn flex flex-row justify-end mt-4">

                        <button class="btn btn-success" onclick="writePost()">Confirm</button>
                        <button class="btn btn-error mx-4" onclick="history.go(-1)">Cancel</button>

                    </div>

            </div>
            <script src="/js/edit_default.js"></script>
        </div>

    </body>
</html>