<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/edit_layout}"
>
<head>
    <title>BABY LION :: 포스트 편집</title>
</head>
<body>
<div layout:fragment="content" class="w-full">
    <div class="write-contents flex flex-col">

        <div class="post-write-header flex p-8">
            <span class="text-5xl">
                Post Edit
            </span>
        </div>

        <div class="post-write contents flex flex-col">

            <div class="flex category-wrapper">
                <select id="category-select" class="select select-info w-full max-w-xs">
                    <option disabled value="">Category</option>
                    <th:block th:if="${categoryList.size() != 0}" th:each="c : ${categoryList}">
                        <option th:value="${c.code}" th:selected="${#strings.equals(c.code, post.category.code)}"> [[ ${c.name} ]] </option>
                    </th:block>
                </select>
            </div>

            <input id="post-title" name="title" type="text" placeholder="Title here" class="mt-4 input input-bordered input-info w-full" />
            <div class="mt-8 h-full" id="editor"></div>

        </div>

        <div class="post-write-btn flex flex-row justify-end mt-4">

            <button class="btn btn-success" onclick="doUpdate()">Confirm</button>
            <button class="btn btn-error mx-4" onclick="history.go(-1)" >Cancel</button>

        </div>

    </div>
    <script th:inline="javascript">

        /*<![CDATA[*/ /*]]>*/

        const postId = /*[[ ${post.id} ]]*/;

        const postTitleEl = document.querySelector('#post-title');
        postTitleEl.value = /*[[ ${post.title} ]]*/;

        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '550px',
            initialEditType: 'markdown',
            previewStyle: 'vertical'
        });

        editor.setMarkdown(/*[[ ${post.markdownBody} ]]*/);
        editor.setHTML(/*[[ ${post.htmlBody} ]]*/);

        function doUpdate(e) {

            const headerName = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
            const tokenValue = document.querySelector("meta[name='_csrf']").getAttribute("content");

            const title = document.querySelector("#post-title")
                .value;

            const htmlBody = editor.getHTML();
            const markdownBody = editor.getMarkdown();

            const selectEl = document.querySelector("#category-select");
            const categoryCode = selectEl.options[selectEl.selectedIndex].value;

            const data = {
                title,
                htmlBody,
                markdownBody,
                categoryCode
            };

            console.log('data', data);

            fetch(`http://localhost:8083/adms/posts/update/${postId}`, {
                method: "POST",
                headers: {
                    "Content-Type" : "application/json",
                    [headerName] : tokenValue
                },
                body : JSON.stringify(data)
            })
                .then(
                    (resp) => {
                        return resp.json()
                    }
                )
                .then(
                    (data) => {
                        alert("포스트 수정이 완료되었습니다!");
                        location.replace('/');
                    }
                )
                .catch(
                    (err) => {
                        console.log(err);
                    }
                )

        }

    </script>
</div>

</body>
</html>