<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title th:if="${post != null}">BABY LION :: [[ ${post.title} ]]</title>
</head>
<body>

  <div layout:fragment="content" class="w-full">

      <div th:if="${post != null}" class="detail-contents container w-full mx-auto px-16 mt-16">

          <div class="post-title-container flex flex-col">

            <span class="post-title-content flex text-6xl font-bold">
                [[ ${post.title} ]]
            </span>
<!--              <span class="post-title-meta flex mt-6" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>-->
              <span class="post-title-meta flex mt-6 text-sm">
                  Created At : [[ ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')} ]]
              </span>
              <span class="post-title-meta flex text-sm">
                  Updated At : [[ ${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')} ]]
              </span>
              <span class="text-sm"> Writer : [[ ${post.author.nickname} ]]</span>

          </div>

          <div class="divider"></div>

          <div class="post-contents-container flex">

              <div class="post-body" th:utext="${post.htmlBody}">

              </div>

          </div>

      </div>

      <th:block th:unless="${post != null}">
          <div class="h-full flex flex-col justify-center items-center">
              <span class="text-6xl">X_X</span>
              <span class="text-3xl mt-6">Post Could Not Found!</span>
              <button class="btn btn-success mt-6" onclick="location.replace('/')">Success</button>
          </div>
      </th:block>


  </div>

</body>
</html>