<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-theme="lemonade"
>
<head>
  <th:block th:replace="~{fragments/meta/default_meta :: defaultMeta}" />
</head>
<body class="h-screen">
<div class="root flex flex-col h-full">
  <div th:replace="~{fragments/components/admin_nav_bar :: adminNavBarFragment}"></div>
  <div class="container w-full mx-auto px-60 flex">
    <div layout:fragment="content"></div>
  </div>
</div>
</body>
</html>