<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<head>
  <title>BABY LION :: 카테고리 생성</title>
</head>
<body>
<div layout:fragment="content" class="w-full">

  <div class="admin-contents-wrapper flex flex-col w-full mt-16">

    <div class="content-header flex">

      <span class="text-4xl font-bold">
          카테고리 생성
      </span>

    </div>

    <div class="divider"></div>

    <div class="content-category-wrapper w-full">
      <form action="/adms/categories/create" method="POST">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" >

        <div class="category-input-group">

          <div class="name-input-wrapper flex flex-col w-full">
            <label class="label">
              <span class="label-text">Name</span>
            </label>
            <input name="name" type="text" placeholder="Category Name" class="input input-bordered w-full" />
            <label class="label mt-1">
              <span class="label-text-alt">공개될 카테고리의 이름을 입력해주세요</span>
            </label>
          </div>

          <div class="code-input-wrapper flex flex-col w-full">
            <label class="label">
              <span class="label-text">Code</span>
            </label>
            <input name="code" type="text" placeholder="Category Code" class="input input-bordered w-full" />
            <label class="label mt-1">
              <span class="label-text-alt">사용할 카테고리의 코드를 입력해주세요, 코드는 중복될 수 없습니다.</span>
            </label>
          </div>

        </div>


        <div class="category-form-footer flex w-full justify-end mt-4">
          <button class="btn btn-ghost">카테고리 생성</button>
        </div>
      </form>
    </div>

  </div>

</div>
</body>
</html>