<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<head>

    <meta name="_csrf_header" th:content="${_csrf.headerName}" >
    <meta name="_csrf" th:content="${_csrf.token}" >

    <title>BABY LION :: 계정 </title>

</head>
<body>
<div layout:fragment="content" class="w-full">

    <div class="admin-contents-wrapper flex flex-col w-full mt-16">

        <div class="content-header flex">

                <span class="text-4xl font-bold">
                    계정 정보 수정
                </span>

        </div>

        <div class="divider"></div>

        <div class="content-account-info flex w-full">

            <div class="info-nickname w-full">

                <div class="form-control w-full flex flex-row justify-center items-center">
                    <div class="nickname-input-wrapper flex flex-col w-full">
                        <label class="label">
                            <span class="label-text">Nickname</span>
                        </label>
                        <input id="account-nickname" th:value="${account.nickname}" type="text" placeholder="Nickname" class="input input-bordered w-full" />
                        <label class="label mt-1">
                            <span class="label-text-alt">변경하고자 하는 닉네임을 입력해주세요</span>
                        </label>
                    </div>

                    <div class="nickname-btn-wrapper flex mx-6">
                        <button class="btn btn-outline btn-primary" onclick="changeNickname()">Confirm</button>
                    </div>

                </div>

                <div class="form-control w-full flex flex-row justify-center items-center mt-8">
                    <div class="pwd-input-wrapper flex flex-col w-full">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input id="account-password" type="password" placeholder="Password" class="input input-bordered w-full" />
                        <label class="label mt-1">
                            <span class="label-text-alt">변경하고자 하는 비밀번호를 입력해주세요</span>
                        </label>
                    </div>

                    <div class="nickname-btn-wrapper flex mx-6">
                        <button class="btn btn-outline btn-primary" onclick="changePwd()">Confirm</button>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <script src="/js/admin_index.js"></script>
</div>
</body>
</html>